@import '~bulma/css/bulma.css';

nav.navigation {
  margin: 1rem 0;
}

figure.avatar,
figure.boxart {
  height: 80px;
  width: 80px;
  border: thick solid white;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

figure.boxart {
  width: 120px;
}
